*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    /* background-color: rgb(174, 133, 200); */
     /* background-color: rgb(145, 135, 119); */
     /* background-image: url(../img/bg-0000); */
     background-image: url(../img/bg-000000111111.webp);
}
h1{
    background-color: #030100;
    margin: 10px;
    position: sticky;
    top: 0px;
    text-align: center;
}
h1 a{
    font-size: 26px;
    color: #fe0385;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 23px;
    border-radius: 9px;
    width: 90%;
    padding: 4px;
}
h2{
    background-color: #f9c7b7;
    color: rgb(20, 6, 225);
    margin: 10px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-align: center;
}
p{
    text-align: center;
    margin: 20px;
    background-color: rgb(129, 102, 128);
    padding: 10px;
    border-radius: 20px;
    font-size: 19px;
    border: 2px dashed red;
}
.home{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 99%;
}
.home a{
    color: rgb(7, 7, 7);
    /* width: 100%; */
    border-radius: 20px;
    word-spacing: 9px;
    text-align: center;
    font-size: 23px;
    font-weight: 900;
}
img{
    width: 48.24%;
    margin: 10px;
    padding: 10px 5px;
    height: 300px;
    display: inline-block;
    border-radius: 60px 2px;
    box-shadow: 7px 1px 5px rgb(0,0,0,0.7);
}
@media all and ( max-width : 567px){

    h1 a{
        font-size: 16px;
    }
    .home{
        text-align: center;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        background-color: #fe0385;
    }
    .home a{
        color: rgb(7, 6, 6);
        width: 100%;
        /* background-color: aquamarine; */
        border-radius: 20px;
        word-spacing: 9px;
        text-align: center;
        font-size: 23px;
        font-weight: 900;
    }
    img{
        width: 40.24%;
        margin: 17px;
        padding: 0px;
        height: 200px;
        display: inline-block;
        text-align: center;
        border-radius: 7px;
        box-shadow: 7px 1px 5px rgb(0,0,0,0.7);
    }
    
}