@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Martel:wght@200;300;400;600;700;800;900&family=Playwrite+BE+WAL:wght@100..400&family=Tourney:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Martel:wght@200;300;400;600;700;800;900&family=Playwrite+BE+WAL:wght@100..400&family=Sedan+SC&family=Tourney:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Fjalla+One&family=Martel:wght@200;300;400;600;700;800;900&family=Playwrite+BE+WAL:wght@100..400&family=Sedan+SC&family=Tourney:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    /* background-color: rgb(145, 135, 119); */
    background-image: url(../img/bg-0000);
    /* background-image: url(../img/bg-000000111111.webp); */
    background-position: repeat;
}

.container {
    /* border: 2px solid red; */
    margin: 0px;
}

/*inline block */
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.HeadBox{
    /* text-align: left; */
    display: inline-block;
    width: 100%;
    padding: 10px;
}
.heading-BrandName{
    font-size: 40px;
    color: coral;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 84.23%;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    /* border: 2px solid blue; */

}

.heading-BrandName h2 {
    border-bottom: dotted red;
    text-shadow: 2px 0px rgb(0, 0, 0, 0.7);
}


/* Color Of Brand Name */
.heading-BrandName h2 b {
    color: rgba(249, 179, 4, 0.998);
    animation: Fruits-FF 5s linear;
}
@keyframes Fruits-FF {
    0%{
    }
    50%{
        color: rgb(22, 7, 239);
    }
    75%{
        color: #06ed2c;
    }
    100%{
        color: red;
    }
    
}

#head-text {
    font-size: 22px;
    text-align: center;
    color: wheat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Logo Inner Img */
.logo-box img {
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 150px;
    border-radius:50%;
    box-shadow: 8px 6px 9px rgba(137, 29, 238, 0.7);
    border: 2px solid rgb(68, 225, 253);
    animation: logo 3s linear;
    margin-top: 40px;
}
@keyframes logo {
    0%{
        transform: rotate(0deg);
        /* scale: 0.40; */
    }
    25%{
        background-color: #06fc2f;
    }
    50%{
        background-color: #fcb206;
    }
    100%{
        background-color: red;
    }
}

/* logo box heading */
.logo-box h1 {
    font-size: 20px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(244, 155, 217);
    text-transform: uppercase;
    text-decoration: rgb(206, 6, 46) underline;
    text-align: center;
    margin-left: 10px;
}
/* Search Bar Type On Animation And Hover*/
/* search bar*/
.search-container {
    background: #f59d54;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    margin: 10px;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(187, 186, 186, 0.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover>.search-input {
    width: 700px;
}

.search-container .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    /* transition: 0.8s; */

}

.search-container .search-btn .fas {
    color: #f03b04;
}
/* Animation Of Serch Bar */
.search-container:hover {
    animation: hoverShake 0.15s linear 3;
    background-color: rgb(248, 252, 246);
}
@media Screen and (max-width : 567px){
    .container {

    }
    
    /* all inline block */
    .inline-block {
        display: inline-block;
        vertical-align: top;
    }
    .heading {
        font-size: 40px;
        color: coral;
        margin: 10px;
        padding: 10px;
        text-align: center;
        width: 80%;
        /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
        font-family: "Sedan SC", serif;
        font-weight: 400;
        font-style: normal;
    
    }
    
    .heading h2 {
        border-bottom: dotted red;
        text-shadow: 2px 0px rgb(0, 0, 0, 0.7);
    }
    
    
    /* Color Of Brand Name */
    .heading h2 b {
        color: rgba(249, 179, 4, 0.998);
        animation: Fruits-FF 5s linear;
    }
    @keyframes Fruits-FF {
        0%{
        }
        50%{
            color: rgb(22, 7, 239);
        }
        75%{
            color: #06ed2c;
        }
        100%{
            color: red;
        }
        
    }
    
    #head-text {
        font-size: 20px;
        text-align: center;
        color: wheat;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    /* Logo Inner Img */
    .logo-box img {
        margin: 10px;
        padding: 10px;
        width: 97%;
        height: 150px;
        border-radius:50%;
        box-shadow: 8px 6px 9px rgba(137, 29, 238, 0.7);
        border: 2px solid rgb(68, 225, 253);
        animation: logo 3s linear;
        margin-top: 40px;
    }
    @keyframes logo {
        0%{
            transform: rotate(0deg);
            /* scale: 0.40; */
        }
        25%{
            background-color: #06fc2f;
        }
        50%{
            background-color: #fcb206;
        }
        100%{
            background-color: red;
        }
    }
    
    /* logo box heading */
    .logo-box h1 {
        font-size: 20px;
        font-family: "Sedan SC", serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(244, 155, 217);
        text-transform: uppercase;
        text-decoration: rgb(206, 6, 46) underline;
        text-align: center;
        margin-left: 10px;
    }
    /* Search Bar Type On Animation And Hover*/
    /* search bar*/
    .search-container {
        background: #f59d54;
        height: 30px;
        border-radius: 30px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.8s;
        margin: 10px;
        box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
            -4px -4px 6px 0 rgba(116, 125, 136, .2),
            inset -4px -4px 6px 0 rgba(187, 186, 186, 0.2),
            inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    }
    
    .search-container:hover>.search-input {
        width: 700px;
    }
    
    .search-container .search-input {
        background: transparent;
        border: none;
        outline: none;
        width: 0px;
        font-weight: 500;
        font-size: 16px;
        /* transition: 0.8s; */
    
    }
    
    .search-container .search-btn .fas {
        color: #f03b04;
    }
    /* Animation Of Serch Bar */
    .search-container:hover {
        animation: hoverShake 0.15s linear 3;
        background-color: rgb(248, 252, 246);
    }
    
}
/* Nav Bar Contain */
.nav{
    margin: 10px;
    padding: 10px;
    position: sticky;
    top: 0px;
    text-align: center;
    color: aliceblue;
    text-decoration: dotted;
    /* border: 2px solid rgb(10, 216, 216); */
    background-color: rgba(239, 23, 142, 0.386);
    /* border-radius: 5px 51px 5px 1px; */
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#bar-icon {
    font-size: 25px;
    color: #d6d4d4;
    text-align: right;
}

.nav a {
    color: rgb(247, 176, 10);
    margin: 50px;
    font-size: 25px;
}
.nav a:hover {
    color: rgb(3, 253, 57);
}
.Catagories {
    text-align: center;
    color: #5af64c;
    text-decoration: rgb(90, 91, 89) dashed;
    border: 1px dashed red;
    margin: 20px;
    border-radius: 1px;
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-style: normal;
    word-spacing: 8px;
}

/* Only For Three Product Adjustment second rows*/
.rows-2 {
    display: flex;
    justify-content: center;
}
/* row-2 offer heading */
h4{
    color: whitesmoke;
    text-align: center;
    margin-top: 11%;
    width: 8%;
}



/* All Box And Images */
.box-all {
    margin: 11px;
    margin-bottom: 70px;
    padding: 5px;
    /* border: 2px solid rgb(13, 13, 13); */
    width: 23%;
    height: 340px;
    display: inline-block;
    vertical-align: top;
    background-color: rgba(4, 244, 248, 0.355);
    border-radius: 15px;
    box-shadow: 1px 1px 8px 2px rgb(0, 0, 0, 0.9);
}

.box-all p {
    text-align: center;
    font-size: 25px;
    margin: 10px;
}
.boxes-img {
    margin: 10px;
    padding: 5px;
    border: 2px solid rgb(13, 13, 13);
    width: 92%;
    height: 230px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(245, 244, 243);
    border-radius: 15px;
    box-shadow: 1px 1px 8px 2px rgb(0, 0, 0, 0.9);
}

#del-price {
    font-size: 20px;
}

#offer {
    font-size: 24px;
    color: #f9c7b7;
    text-shadow: 1px 1px 10px rgb(0, 0, 0, 0.9);
}

#kg {
    font-size: 17px;
    margin: 4px;
    color: rgb(29, 29, 29);
}

button {
    margin: 0px;
    padding: 10px;
    width: 50%;
    border: 1px dashed red;
    background-color: rgb(228, 131, 3);
    border: 2px solid rgb(8, 8, 8);
    border-radius: 10px;
    font-size: 13px;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button-color a{
    color: #030100;
    text-decoration: none;
    font-weight: 900;
}

#button-hover:hover {
    background-color: rgb(231, 220, 4);
    font-size: 16px;
    width: 90%;
    border: 2px dashed black;
}

#price-color :hover {
    color: #fe7403;
    text-shadow: 1px 1px 0px rgb(0, 0, 0, 0.7);
    cursor: pointer;
    border-radius: 20px;
    /* background-color: #f9c7b7; */
}

/* product-image size adjust */
#fruit-product img {
    width: 100%;
    height: 170px;
}

#fruit-product :hover {
    letter-spacing: 6px;
    background-color: #06fc38;
    border-radius: 10px;
}

/* fruit Heanding */
#fruit-product h3 {
    text-align: center;
    font-weight: 800;
    color: rgb(206, 6, 46);
    background-color: rgb(250, 220, 181);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    letter-spacing: 3px;
}
.btn-view-all a{
    text-decoration: none;
    color: black;

}
#button-view-all {
    text-align: center;
    border-radius: 10px 3px;
    font-size: 13px;
    font-weight: 700;
    margin-top: 1px;
    cursor: pointer;
    margin-bottom: 30px;
    text-decoration: underline;
    height: 80px;
}

#button-view-all :hover {
    color: #06ed2c;
    background-color: rgb(80, 79, 79);
    letter-spacing: 9px;
    /* font-size: 20px; */
}
.Description {
    color: rgb(59, 59, 52);
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    background-color: burlywood;
    width: 97%;
    margin-left: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

#Description-paragraph {
    text-align: center;
    color: beige;
    width: 80%;
    margin-left: 130px;
    margin-top: 10px;
}

/* Footer Css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
.footer {
  top: 50%;
  left: 50%;
  background: #1212122e;
  /* border: 1px solid red; */
}
.footer .footer-row {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}
.footer-row .footer-col h4 {
  color: #f67104;
  font-size: 1.2rem;
  font-weight: 400;
}
.footer-col .links {
  margin-top: 20px;
}
.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}
.footer-col .links li a:hover {
  color: #fda24d;
}
.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}
.footer-col form {
  display: flex;
  gap: 5px;
}
.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
  margin-top: 20px;
}
.footer-col input::placeholder {
  color: #ccc;
}
 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}
.footer-col form button:hover {
  background: #029994;
}
.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}
.footer-col .icons i {
  color: #afb6c7;
}
.footer-col .icons i:hover  {
  color: #13ee04;
}
p{
    text-align: center;
    color: whitesmoke;
    margin: 10px;
}
.footer-col h4{
    vertical-align: top;
    margin-top: 0px;
}
.footer-col p{
    text-align: left;
}